body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: #99b898
  }
  
  ol, ul {
    padding-left: 30px;
    
  }
  
  .headerclass {
    font-size: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    color: #ffd3b5;

  }
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #2a363b;
    border: 3px solid #e84a5f;
    float: left;
    font-size: 85px;
    font-weight: bold;
    line-height: 180px;
    height: 180px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    color: #f8b195;
    width: 180px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  
  .game-info {
    margin-left: 40px;
    font-size:50px;
    color: #fecea8;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }
  

  .buttonhey {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .buttonhey:hover,
  .buttonhey:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  
  .buttonhey:hover {
    transform: translateY(-1px);
  }
  
  .buttonhey:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }